<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include Xacro files -->
  <xacro:include filename="$(find tortoisebot_description)/urdf/modules/base.xacro" />
  <xacro:include filename="$(find tortoisebot_description)/urdf/modules/wheels.xacro" />
  <xacro:include filename="$(find tortoisebot_description)/urdf/modules/sensors.xacro" />
  <xacro:include filename="$(find tortoisebot_description)/urdf/modules/inertial_macros.xacro" />
  <xacro:include filename="$(find tortoisebot_description)/urdf/modules/material_macros.xacro" />

  <!-- Call the macro to define materials -->
  <xacro:define_materials/>

  <!-- Define the robot -->
  <xacro:chassis size="${chassis_size}" mass="${chassis_mass}" material="${chassis_material}" />

  <!-- Wheels -->
  <xacro:wheel name="front_left" radius="${wheel_radius}" width="${wheel_width}" mass="${wheel_mass}" material="${wheel_material}" x="${fl_x}" y="${fl_y}" z="${fl_z}" />
  <xacro:wheel name="front_right" radius="${wheel_radius}" width="${wheel_width}" mass="${wheel_mass}" material="${wheel_material}" x="${fr_x}" y="${fr_y}" z="${fr_z}" />
  <xacro:wheel name="rear_left" radius="${wheel_radius}" width="${wheel_width}" mass="${wheel_mass}" material="${wheel_material}" x="${rl_x}" y="${rl_y}" z="${rl_z}" />
  <xacro:wheel name="rear_right" radius="${wheel_radius}" width="${wheel_width}" mass="${wheel_mass}" material="${wheel_material}" x="${rr_x}" y="${rr_y}" z="${rr_z}" />

  <!-- Sensors -->
  <xacro:lidar radius="${lidar_radius}" height="${lidar_height}" mass="${lidar_mass}" material="${lidar_material}" z="${lidar_z}" />
  <xacro:camera size="${camera_size}" mass="${camera_mass}" material="${camera_material}" x="${camera_x}" />
  <xacro:imu size="${imu_size}" mass="${imu_mass}" material="${imu_material}" x="${imu_x}" z="${imu_z}" />
   <!-- Include Gazebo Xacro files -->
  <xacro:include filename="$(find tortoisebot_description)/urdf/gazebo_modules/gazebo_ros2_control_4w_diff.xacro" />
  <xacro:include filename="$(find tortoisebot_description)/urdf/gazebo_modules/gazebo_sensors.xacro" />
</robot>